/*Write all of your CSS here*/
.message{
    border-bottom: 1px solid black;
    width: 400px;
    background: azure;
}
.name{
    margin-left: 100px;
}
.divq{
    display: inline;
}
div{
    background: azure;
    border: 1px solid black;
}
