@{
    ViewData["Title"] = "Home Page";
}
<script>
        $(document).ready(function(callback){
            
            
            function test(){
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '@Url.Action("gimmeall")',
                    success: function (result) {
                        console.log(result);
                        $("#quotes").html("");
                        for(var x of result){
                            var div1 = "<div class='divq'>";
                            var title = "<div id='t"+x['id']+"' onclick='msg("+x['id'] +")'><h3>" + x["name"] + "</h3></div>";
                            var mid = "<div><button onclick='delete2("+x['id']+")'>Delete</button></div>";
                            var div2 = "</div>"
                            var res = "<div class='quote' id='q"+x['id']+"'><p>" + x["quote"] + "</p></div>";
                            $("#quotes").append(div1);
                            $("#quotes").append(title);
                            $("#quotes").append(mid);
                            $("#quotes").append(div2);
                            $("#quotes").append(res);
                        }
                        
                    }
                    
                });
            }
            test();
            
            $("#button").click(function(ev){
                        var frm = $('#contactForm1');
                        ev.preventDefault();
                        $.post("create", $("form").serialize(), function(res){
                            if(res){
                                test();
                            }
                        });
                });
                
            
            });
        
        function msg(id){
                console.log(id);
                var stringId = "#q"+id;
                var one = "Url.Action('gimme/";
                var two =  "')";
                let input;
                console.log();
                $.get(`gimme/${id}`, function(res){
                            if(res){
                                input = res[0]["quote"];
                                var line2 = `<input type="text" name="quote" id="quote${id}" value="${input}">`;
                                var line3 = `<button onclick='update(${id})' class="mute">Update</button>`;
                                $(stringId).html(line2+line3);
                            }
                        });
                
            };
        function update(id){
            console.log("update")
            var tenp = $(`#quote${id}`).val();
            var x = {
                id: id,
                text: tenp
            }
            $.post(`update/${id}`, $(`#quote${id}`).serialize(), function(res){
                            if(res){
                                console.log("works!");
                                test();
                            }
                        });
            console.log(tenp);
        }
        function delete2(id){
            
            $.get(`delete/${id}`, function(res){
                            if(res){
                                console.log("deletion works!");
                                test();
                            }
                        });
        }
        
        function test(){
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    url: '@Url.Action("gimmeall")',
                    success: function (result) {
                        console.log(result);
                        $("#quotes").html("");
                        for(var x of result){
                            var div1 = "<div class='divq'>";
                            var title = "<div id='t"+x['id']+"' onclick='msg("+x['id'] +")'><h3>" + x["name"] + "</h3></div>";
                            var mid = "<div><button onclick='delete2("+x['id']+")'>Delete</button></div>";
                            var div2 = "</div>";
                            var res = "<div class='quote' id='q"+x['id']+"'><p>" + x["quote"] + "</p></div>";
                            $("#quotes").append(div1);
                            $("#quotes").append(title);
                            $("#quotes").append(mid);
                            $("#quotes").append(div2);
                            $("#quotes").append(res);
                        }
                        
                    }
                    
                });
            }
        </script>
<h1 id="text">DATABASE</h1>
<p>TESTING</p>
<div id="quotes"></div>
<form action="" method="post" id="Form">
    <input type="text" name="name"></p>
    <input type="submit" value="Add a note" id="button">
</form>